html,
body {
  margin: 0;
  padding: 0;
  user-select: none;
  background-color: #eef0f4;
  color: #432000;
}

main {
  display: flex;
  justify-content: center;
}

.container {
  display: flex;
  position: relative;
  justify-content: center;
  flex-direction: column;
  max-width: 440px;
  /* max-height: auto; */
  width: 100%;
  height: 100%;
}

.input--container {
  display: flex;
  flex-direction: column;

}

#input-field {
  padding: 10px 0 10px 0;
  margin-top: 30px;
  width: 40vh;
  height: 30px;
  align-self: center;
  text-align: center;
  color: #432999;
  background-color: #dce1eb;
  border: none;
  border-radius: 10px;
  font-family: 'Rubik', sans-serif;
  font-size: 20px;
}

#add-button {
  padding: 10px 0 10px 0;
  margin-block: 30px;
  margin-bottom: 0;
  width: 40vh;
  height: 55px;
  align-self: center;
  color: #fdfdfd;
  background-color: #ac485a;
  border: none;
  border-radius: 10px;
  font-family: 'Rubik', sans-serif;
  font-size: 20px;
}

#add-button:hover {
  background-color: #432000;
}

#catImg {
  display: flex;
  align-self: center;
}

.shop-list--container {
  /* display: flex; */
  justify-content: center;
  overflow: scroll;
  scrollbar-width: none;
  height: 100vh;
  width: 100%;
}

.shop-list {
  margin: 0;
  margin-top: 10px;
  padding: 0;
  font-family: 'Rubik', sans-serif;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 5px;
  font-size: 20px;
  font-style: normal;
  text-decoration: none;
  color: #432000;
}

#list {
  /* display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto;
  grid-row: 2 span 2; */
  display: flex;
  /* justify-content: space-between; */
  flex-direction: column;
  border-radius: 5px;
  /* padding: 20px 20px; */
  background-color: #fffdf8;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.2);
  list-style-type: none;
  font-weight: lighter;
  width: auto;
  height: 100%;
  margin: 0;
  padding-top: 5px;
  padding-left: 10px;
}

#itembox--container{
  display: flex;
  justify-content: space-between;
}

#item--name {
  grid-column-start: 1;
  grid-row-start: 1;
  margin: 0;
}

#selection--container {
  grid-row-start: 1;
  grid-column-start: 2;
  display: flex;
  justify-content: right;
  gap: 10px;
  padding-right: 5px;
}

#check_Box {
  box-shadow: 1px 5px 17px -5px #3e7327;
  background-color: #9ae874;
  border-radius: 4px;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 12px;
  padding: 7px 19px;
  text-decoration: none;

}

#check_Box:hover {
  background-color: #72b352;
}

#X_Box {
  box-shadow: 1px 5px 17px -5px #3e7327;
  background-color: #d47f7f;
  border-radius: 4px;
  /* border:1px solid #4b8f29; */
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 12px;
  padding: 7px 19px;
  text-decoration: none;
}

#X_Box:hover {
  background-color: #ac485a;
}

#list:hover {
  background-color: #ffecc7;
}

.header--container {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.2);
  padding-left: 10px;
  padding-right: 10px;
}

.Sidebar--container {
  margin: 0;
}

.Sidebar {
  margin: 0;
  display: flex;
  position: absolute;
  max-width: 20vh;
  width: 100%;
  height: 100%;
  background-color: #eef0f4;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.2);
  justify-content: center;
}

.Sidebar>ul {
  list-style: none;
}


.Sidebar>li {
  list-style: none;
  padding-top: 30px;
}

.main--container {
  display: flex;
  flex-direction: column;
  max-height: 90vh;
}

.alt--sidenote--container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 8px;
  padding-right: 10px;
  margin: 0;
}

.msg--container {
  display: flex;
  flex-direction: column;
  max-height: 100vh;
  border: 1px solid;
}

#msg--output {
  max-height: 75vh;
  display: flex;
  height: 100vh;
  align-items: self-end;
  margin-left: 20px;
}

#msg--input {
  padding: 5px 5px 5px 5px;
  width: auto;
  height: 50px;
  resize: none;
}

#list--dropdown--button {
  display: flex;
  justify-content: center;

}

#app--icon--header {
  width: auto;
  height: 65px;
  padding-right: 15px;
}